* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

nav {
  width: 100%;
  height: 3rem;
  background-color: #cc0202;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------- HEADER -------------------- */
#header-logo {
  width: 100%;
  margin: 0.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-logo img {
  height: 125px;
}

.nav-links {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  width: 100%;
  height: 100%;
  list-style: none;
  white-space: nowrap;
}

.nav-links a {
  width: 100%;
  height: 100%;
  padding: 0 0.25rem;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a:hover {
  background-color: rgb(100, 10, 10);
  color: inherit;
}
.nav-links a:hover::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 0.1rem;
  margin-top: 1.4rem;
  border-radius: 2rem;
  background-color: red;
}

.search-box {
  height: 1.8rem;
  margin: 0 3rem 0 0.5rem;
  border-radius: 2rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  max-width: 10rem;
  height: 100%;
  outline: none;
  border-radius: 2rem 0 0 2rem;
  border: none;
  padding-left: 0.5rem;
}

.search-box img {
  cursor: pointer;
  margin-top: 2px;
  padding-right: 0.2rem;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 32px;
  height: 5px;
  position: relative;
  background-color: white;
  border-radius: 6px;
  transform-origin: 0 0;
  transition: 0.4s;
}
.hamburger:hover span {
  background-color: rgb(100, 10, 10);
}

.hamburger span:nth-child(1),
.hamburger span:nth-child(2) {
  margin-bottom: 5px;
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, 0px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span,
.hamburger.is-active:active span {
  background-color: rgb(100, 10, 10);
}

.dropdown {
  display: none;
}

.dropdown.is-active {
  position: absolute;
  top: 10.2rem;
  right: 0;
  z-index: 3;
  width: fit-content;
  background-color: #cc0202;
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 0 0 0 0.5rem;
  box-shadow: 1px 2px 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.dropdown a {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-bottom: 1px solid #fff;
  color: white;
  text-align: center;
}

.dropdown a:hover,
.dropdown a:active {
  background-color: rgb(100, 10, 10);
  transition: 0.4s ease;
}

@media screen and (min-width: 780px) {
  .hamburger {
    display: none;
  }

  .dropdown,
  .dropdown.is-active {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  #header-logo {
    position: absolute;
    top: 3rem;
  }

  nav {
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 8.2rem;
  }

  .nav-links {
    display: none;
  }

  .search-box {
    margin: 0;
    flex-direction: row-reverse;
  }

  .search-box input {
    border-radius: 2rem;
    max-width: 20rem;
  }

  .search-box img {
    padding-left: 0.2rem;
  }

  .dropdown.is-active {
    top: 3rem;
  }
}

/* Slider General */

.dot-navigation-container {
  text-align: center;
}

.slides-text {
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
}

.slides-fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/* -------------------- ANNOUNCEMENTS (Slider) -------------------- */
.announcements {
  width: 100%;
  margin: 1rem 0;
}

.announcements-slideshow-container {
  max-width: 90vw;
  position: relative;
  margin: auto;
}

.announcements-slides {
  display: none;
}

.announcements-slides img {
  width: 100%;
}

.news-slides .slides-text {
  border-radius: 0 0 2rem 2rem;
}

.announcements-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

@media screen and (max-width: 780px) {
  .announcements-slideshow-container {
    max-width: 100vw;
    height: 12rem;
  }

  .announcements-slides img {
    width: 100%;
    height: 12rem;
  }

  .slides-text {
    bottom: 0px;
  }
}

/* -------------------- LATEST NEWS (Slide) -------------------- */
.news-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.news-slides {
  display: none;
}

.news-slides img {
  width: 45rem;
  height: 20rem;
  border-radius: 2rem;
}

.news-prev,
.news-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.news-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.news-prev:hover,
.news-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.news-dot-navigation {
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.news-active,
.dot-navigation:hover {
  background-color: #cc0202;
}

/* -------------------- LATEST NEWS -------------------- */
.latest-news {
  width: 100%;
  margin: 4rem 0 6rem 0;
}

.latest-news > h1 {
  height: 5rem;
  font-weight: bold;
  margin-left: 4.5%;
  margin-bottom: 1rem;
  border-left: 4px #cc0202 solid;
  padding-left: 0.5rem;
  display: flex;
  align-items: flex-end;
}

.latest-news-container {
  margin: 0 4.5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.other-news {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.other-news img {
  width: 10rem;
  height: 10rem;
  padding: 0.4rem;
  border-radius: 20%;
  object-fit: cover;
}

.other-news p {
  margin-right: 0.5rem;
  text-align: justify;
  word-break: break-all;
}

.other-news-1 a,
.other-news-2 a {
  height: 100%;
  color: #000;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.other-news-1 a:hover,
.other-news-2 a:hover {
  color: #fff;
  background-color: #dd3a3a;
}

.more-news-btn {
  width: 100%;
  text-align: center;
  margin: 1rem 0 0 0;
}

.more-news-btn a {
  border: none;
  border-radius: 1rem;
  background-color: #cc0202;
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-weight: bold;
  font-size: 0.9rem;
}
.more-news-btn a:hover {
  background-color: rgb(100, 10, 10);
}

@media screen and (max-width: 1170px) {
  .latest-news {
    margin-bottom: 2rem;
  }

  .latest-news-container {
    flex-direction: column;
  }

  .news-slideshow {
    max-width: 100vw;
    width: 90vw;
  }

  .news-slides img {
    width: 90vw;
  }

  .other-news {
    width: 100%;
    height: fit-content;
    font-size: 0.8rem;
    flex-direction: row;
  }

  .other-news p {
    max-width: 20rem;
    max-height: 5rem;
    word-break: break-all;
  }
}

@media screen and (max-width: 780px) {
  .latest-news {
    margin-bottom: 1rem;
  }

  .latest-news > h1 {
    font-size: 1.2rem;
  }

  .news-slides > .slides-text {
    margin-bottom: 4px;
  }

  .other-news {
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
  }

  .other-news p {
    max-width: 100%;
  }

  .other-news h2 {
    font-size: 1.2rem;
  }
}

/* SECTION DE INFORMACOES */

.infoArea {
  margin: 0 auto;
  width: 81.3%;
  display: flex;
  justify-content: space-between;
}

.imgInfo {
  margin: 0 0 4px 20px;
  height: 65px;
  width: 65px;
}

.textInfo {
  border-left: 2px #cc0202 solid;
  padding-left: 5px;
}

.textInfo p {
  display: block;
  color: darkslategray;
  font-size: 15px;
  margin-top: 5px;
}

.infoArea div a {
  display: inline-block;
  text-align: center;
  line-height: 27px;
  font-size: 14px;
  height: 27px;
  width: 120px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  background-color: #cc0202;
  border-radius: 50px;
}
.infoArea div a:hover {
  background-color: rgb(100, 10, 10);
}

/* SECTION ENTRE EM CONTATO */

.areaContactVideo {
  margin: 70px auto;
  width: 81.3%;
  display: flex;
  justify-content: space-between;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  padding-left: 10px;
  font-size: 15px;
  margin-top: 20px;
  height: 40px;
  width: 390px;
  border: 3px solid #c8c8c8;
  background-color: #cfcece;
  border-radius: 50px;
  outline: none;
}

form textarea {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  height: 88px;
  width: 390px;
  border: 3px solid #c8c8c8;
  background-color: #cfcece;
  border-radius: 25px;
  resize: none;
  overflow: hidden;
  outline: none;
}

.buttonForm {
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 27px;
  font-size: 14px;
  height: 32px;
  width: 105px;
  color: white;
  font-weight: bold;
  margin-top: 16px;
  background-color: #cc0202;
  border-radius: 50px;
}
.buttonForm:hover {
  background-color: rgb(100, 10, 10);
}

/* SECTION REDES SOCIAIS*/

/* lembrar de consertar espacamento quando diminui a tela*/

.socials div {
  display: flex;
}

.socials h1 {
  font-size: 24px;
}

/* Esta em flex porque as imagens estao em tamanho diferente */
.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
  height: 50px;
  width: 50px;
}

.socials a:nth-of-type(1) img {
  height: 40px;
  width: 40px;
}
.socials a:nth-of-type(2) img {
  height: 43px;
  width: 43px;
}

/* SECTION VIDEOS YOUTUBE */

.videoArea {
  padding-left: 10px;
  border-left: 2px #cc0202 solid;
}

.videoArea h1 {
  margin-bottom: 10px;
}

.videoArea div iframe {
  display: inline;
  width: 393px;
  height: 263px;
}

.videoArea a {
  display: inline-block;
  color: inherit;
  font-weight: bold;
  font-size: 14px;
  background-color: #d9d9d9;
  height: 30px;
  width: 280px;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
  margin-left: 30px;
}
.videoArea a:hover {
  background-color: darkslategray;
}

/* WHATSAPP LINK */
.whatsapp-link {
  position: fixed;
  bottom: 16px;
  right: 24px;
}

.whatsapp-link img {
  width: 48px;
  height: 48px;
}

.whatsapp-animation {
  position: fixed;
  bottom: 22px;
  right: 26px;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  background: none;
  cursor: pointer;
  animation: whatsapp-animation 2s infinite;
}
.whatsapp-animation:hover {
  animation: none;
}

@keyframes whatsapp-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(20, 211, 90, 0);
  }
  50% {
    box-shadow: 0 0 8px 8px rgba(20, 211, 90, 0.8);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(20, 211, 90, 0);
  }
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
}

.footerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 138px;
  width: 100%;
  background-color: #ebeaea;
}

.footerBottom {
  height: 65px;
  width: 100%;
  background-color: #cc0202;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer-logo img {
  height: 112px;
  width: 161px;
}

.vertical-line {
  border: 1px solid #cc0202;
  height: 100px;
}

.footer-logo .vertical-line {
  height: 115px;
}

.footer-logo p {
  float: left;
  color: darkslategray;
  font-size: 1.06rem;
}

.footerInfo {
  float: left;
  display: flex;
  align-items: center;
}

.footerInfo img {
  height: 36px;
  width: 36px;
}

.footerInfo p {
  margin: 0 17px 0 8px;
  font-size: 0.95rem;
}

.footerBottom p {
  font-size: 0.8rem;
  color: #ebeaea;
}

.footerBottom p:nth-of-type(2) {
  display: none;
}

@media (max-width: 1318px) {
  .videoArea div iframe {
    width: 310px;
    height: 200px;
  }

  form input {
    height: 40px;
    width: 350px;
  }

  form textarea {
    height: 78px;
    width: 350px;
  }
}
@media (max-width: 1150px) {
  .textInfo p {
    font-size: 13px;
  }

  /* Footer */

  .footerInfo {
    float: none;
    margin-top: 3px;
  }
  .footerInfo img {
    margin-top: 5px;
    height: 36px;
    width: 36px;
  }

  .footerInfo p {
    font-size: 0.9rem;
  }
}

@media (max-width: 780px) {
  h1 {
    font-size: 1.2rem;
  }

  /* SECTION INFORMACOES */

  .infoArea {
    flex-direction: column;
    width: 89.6%;
  }

  .infoArea > div:nth-of-type(2),
  .infoArea > div:nth-of-type(3) {
    margin-top: 19px;
  }

  .imgInfo {
    margin-bottom: 0px;
  }

  .textInfo p {
    font-size: 14px;
    margin-top: 10px;
  }
  .textInfo p br {
    display: none;
  }

  /* SECTION SOCIAIS */
  .socials {
    margin-top: 30px;
    flex-direction: column;
  }

  .socials h1 {
    font-size: 19.2px;
  }

  .socials br,
  .contact br {
    display: none;
  }

  .socials a {
    height: 40px;
    width: 40px;
  }

  .socials a:nth-of-type(1) img {
    height: 30px;
    width: 30px;
  }
  .socials a:nth-of-type(2) img {
    height: 33px;
    width: 33px;
  }

  .socials div {
    margin-top: 8px;
  }

  /* SECTION AREA CONTACT VIDEO */

  .areaContactVideo {
    flex-direction: column;
    margin-bottom: 17px;
    width: 89.6%;
  }

  .contact {
    width: 100%;
    align-items: center;
  }

  .contact h1 {
    border-left: 2px #cc0202 solid;
    padding-left: 5px;
  }

  .contact form {
    align-items: center;
    width: 100%;
  }

  form input {
    width: 320px;
    height: 35px;
  }

  form textarea {
    width: 320px;
    height: 75px;
  }
  .videoArea {
    width: 100%;
    border: none;
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .videoArea h1 {
    border-left: 2px #cc0202 solid;
    padding-left: 5px;
  }

  .videoArea br {
    display: none;
  }

  .videoArea div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videoArea div iframe {
    width: 322px;
    height: 175px;
  }

  .videoArea a {
    align-self: center;
    margin: 15px;
  }

  /* Footer */

  .footerTop {
    flex-direction: column;
    height: 280px;
  }

  .footer-logo img {
    height: 92px;
    width: 141px;
  }

  .footer-logo p {
    font-size: 0.92rem;
  }

  .footer-logo .vertical-line {
    height: 90px;
  }

  .footerInfo {
    justify-content: normal;
  }

  .footerBottom p:nth-of-type(1) {
    display: none;
  }
  .footerBottom p:nth-of-type(2) {
    display: block;
    font-size: 0.78rem;
  }
  .footerBottom p:nth-of-type(3) {
    font-size: 0.78rem;
  }
}
